In [1]:
import os
import pandas as pd

In [25]:

path = "./인천/분양입주권/"
file_list = os.listdir(path)

In [26]:
data = pd.DataFrame()
for i in file_list:
    file_name = path+i
    df = pd.read_csv(file_name)
    data = pd.concat([data, df])

In [28]:
data[data['시군구']=='부평구']

Empty DataFrame
Columns: [Unnamed: 0, 지역코드, 시군구, 법정동, 지번, 단지, 층, 전용면적, 구분, 년, 월, 일, 거래금액, 거래유형, 중개사소재지, 해제사유발생일, 해제여부]
Index: []

In [29]:
data['시군구'].drop_duplicates()

0    중구
0    동구
Name: 시군구, dtype: object

In [14]:
data

,Unnamed: 0,지역코드,시군구,법정동,유형,용도지역,건물주용도,건축년도,대지면적,건물면적,년,월,일,거래금액,거래유형,중개사소재지,해제사유발생일,해제여부
0,0,28110.0,중구,항동7가,집합,일반상업,기타,2000.0,NaN,3706.58,2006.0,1.0,23.0,"90,000",NaN,NaN,NaN,NaN
1,1,28110.0,중구,경동,일반,일반상업,판매,1971.0,251.3,709.76,2006.0,1.0,23.0,"42,000",NaN,NaN,NaN,NaN
2,2,28110.0,중구,송월동1가,일반,제2종일반주거,기타,1997.0,143.0,409.01,2006.0,1.0,10.0,"26,500",NaN,NaN,NaN,NaN
3,3,28110.0,중구,운서동,집합,일반상업,기타,2003.0,NaN,28.71,2006.0,1.0,3.0,"5,100",NaN,NaN,NaN,NaN
4,4,28110.0,중구,항동7가,일반,일반상업,숙박,1994.0,340.8,908.41,2006.0,2.0,3.0,"59,000",NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
953,953,28140.0,동구,송현동,집합,준공업,판매,1997.0,NaN,26.06,2008.0,2.0,29.0,"2,600",NaN,NaN,NaN,NaN
954,954,28140.0,동구,송현동,집합,준공업,제2종근린생활,1997.0,NaN,26.06,2008.0,2.0,29.0,"2,400",NaN,NaN,NaN,NaN
955,955,28140.0,동구,송림동,일반,일반상업,기타,1983.0,740.5,1356.71,2008.0,2.0,4.0,"179,500",NaN,NaN,NaN,NaN
956,956,28140.0,동구,송림동,집합,일반상업,기타,1971.0,NaN,55.08,2008.0,2.0,21.0,"6,000",NaN,NaN,NaN,NaN
957,957,28140.0,동구,송림동,집합,일반상업,기타,1971.0,NaN,33.06,2008.0,2.0,29.0,"5,500",NaN,NaN,NaN,NaN